

  .movie-fields-wrpaper{
color:#a7a5a5;
  }

.movie-img {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: '10px';
  background-color: '#fff';
}

.edit-action-buttons{
display: flex;
direction: row; 
justify-content: space-between;
margin-top:1.8rem;
}

.movie-label-year{
    margin-top:1rem;
}

