.movie-action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.movie-action-buttons .edit {
  background-color: #efeafb;
  color: #845adf;
  border-radius: 10px;
}

.movie-action-buttons .edit:hover {
  background-color: #845adf;
  color: white;
}

.movie-action-buttons .delete {
  background-color: #fde9e7;
  color: #f44336;
  border-radius: 10px;
}

.movie-action-buttons .delete:hover {
  background-color: #f44336;
  color: white;
}

.member-link {
  color: #845adf;
   text-decoration: underline;
}